/* Remove default html margin, padding and assign box-sizinz as border-box to all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Global variable definitions */
:root {
    --header-footer-background-color: #4d3227;
    --Sunset: #cd7700;
    --RegText: #ebc999;
    --lightgray: lightgray;
    --blog-work-border: #333366;
    --rgba-border-color-opacity: rgba(135, 206, 250, 0.8);
    --GoodDay: rgb(135, 206, 146);
    }
html {
    scroll-behavior:smooth;
}
  .Intro {
    display: flex; /* Flex container to display the child elements as flex with space between and wrap */
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    background-color: var(--header-footer-background-color); 
    font-family:monospace;
    color:var(--Sunset)
  }
  /*Start of header code*/
  header h1 {
      padding-left: 50px;
  }
  header nav ul{
    display: flex; /* Flex container to display the child elements as flex with flex-end, wrap, and align the items in center */
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    list-style: none;
    padding-right: 0px;
  }
  header nav ul li {
      font-size: 1.8vw;
      padding: 10px 15px;
      margin-top:20px;
      margin-bottom:10px;
  }
  header a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 2px solid var(--Sunset);
    color: var(--Sunset);
  }
  /*End of header code*/
  body {
      background-color:var(--header-footer-background-color);
      color: var(--Sunset);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  footer {
      background-color: var(--header-footer-background-color);
      color: var(--Sunset);
  }
  footer a {
      text-decoration: none;
      border-bottom: 2px solid var(--Sunset);
      color: var(--Sunset);
      font-size:1.8vw;
      font-weight: bold;
  }
  .nav-effects a:hover{
      color: var(--RegText);
      font-weight: bold;
      text-shadow: 0px 0px 20px var(--Sunset);
  }
    
    .footer-container a:hover{
        color: var(--RegText);
        font-weight: bold;
        text-shadow: 0px 0px 20px var(--Sunset);
        }
    .hero { /* Here section is a flex container */
        height: 300px;
        background-image: url("../Images/285017-fan_art-metalanguage-coffee-festivals-748x421.jpg");
        border-bottom-left-radius: 30px 30px; 
        border-bottom-right-radius: 30px 30px;
        border-top-right-radius: 30px 30px;
        border-top-left-radius:30px 30px;
        background-size:cover;
        background-repeat: no-repeat; 
        background-attachment: fixed; /* Image will scroll with the page */
        }
            
    .hero-subtitle { 
        padding-bottom: 15px;
        padding-right: 15px;
        color: var(--GoodDay);
        }
    .blog-wrapper { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
        margin-top: 50px;
        }
                
    .blog-grid-container {/* CSS Grid */
        width: 80%; 
        display: grid;
        grid-template-columns: 1fr repeat(3, 2fr); 
        grid-template-rows: repeat(2, 1fr); 
        gap: 10px 10px; 
        }
                
    .blog-item.blog-title { 
        padding-top: 0px;
        font-size: 35px;
        grid-row: 1 / span 2;
        padding-right: 10px;
        text-align: right;
        border-right: 2px solid var(--Sunset);
        }
                
    .blog-item.p1 {
        color: var(--RegText);
        padding-left: 10px;
        grid-column: 2 / span 3;
        grid-row: 1 / span 2;
        }
                
    .blog-item.p2 {
        color: var(--RegText);
        padding-left: 10px;
        grid-column: 2 / span 3;
        grid-row: 2 / span 2;
        }
    .work-wrapper { 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        justify-content: center;
        margin-top: 50px;        
        }
    .work-grid-container {/* CSS Grid */
        width: 80%;
        display: grid;
        grid-template-columns: 1fr repeat(3, 2fr); 
        grid-template-rows: repeat(10, 1fr);
        gap: 10px 10px; 
        }
    .work-item.work-title {
        padding-top: 10px;
        font-size: 35px;
        grid-row: 1 / span 9;
        text-align: right;
        padding-right: 10px;
        border-right: 2px solid var(--Sunset);
        }
                            
    .work-item-project.challenge-1-refactor { /* Grid cells with embedded images */
        grid-column: 2 / span 2;
        grid-row: 1 / span 6;
        background-image: url("../Images/Screen\ Shot\ 2022-04-20\ at\ 1.06.49\ PM.png");
        background-size: cover; 
        display: flex; 
        align-items: flex-end; 
        padding-left: 0px;
        padding-bottom: 15px;
        text-align: left;
        border: .25vw solid var(--RegText);
        }
    
                            
    .work-item-project.run-buddy {
        grid-column: 2 /span 2;
        grid-row: 7 / span 6;
        background-image: url("../Images/Screen\ Shot\ 2022-04-20\ at\ 1.06.40\ PM.png");
        background-size: cover;
        display: flex; 
        align-items: flex-end; 
        padding-left: 0px;
        padding-bottom: 15px;
        text-align: left;
        border: .25vw solid var(--RegText);
        }
    .work-item-project.Code-Quiz {
        grid-column: 4 /span 1;
        grid-row: 1 / span 6;
        background-image: url("../Images/Screen\ Shot\ 2022-04-20\ at\ 2.14.42\ PM.png");
        background-size: cover;
        display: flex; 
        align-items: flex-end; 
        padding-left: 0px;
        padding-bottom: 15px;
        text-align: left;
        border: .25vw solid var(--RegText);
        }
    .work-item-project.Password-Generator {
        grid-column: 4 /span 1;
        grid-row: 7 / span 3;
        background-image: url("../Images/Screen\ Shot\ 2022-04-26\ at\ 6.44.57\ PM.png");
        background-size: cover;
        display: flex; 
        align-items: flex-end; 
        padding-left: 0px;
        padding-bottom: 15px;
        text-align: left;
        border: .25vw solid var(--RegText);
        
        }
       
    
    .span-background { 
        background-color: var(--sunset);
        position: relative;
        line-height: 1.5;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 5%;
        opacity: .8;
        }
                                
    .span-background.title { /* Move away from the top/bottom container*/
        margin-top: 10px;
        margin-bottom: 20px;
        }
                                
    /* Hero section cool subtitle with opacity of .95 */
    .span-background.opacity{
        opacity: .95; 
        font-size: 30px;
        }
                                
    .span-background.lower-text {
        font-size: x-small;
        }
    /* End of span code */
                                
    /* Start of footer class code */
                                
    /* CSS Flex/Grid Footer non-semantic Code */
    .footer-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        }
                                
    .footer-container { /* CSS Grid */
        width: 80%;
        display: grid;
        grid-template-columns: 1fr repeat(3, 2fr); 
        grid-template-rows: repeat(3,2fr); 
        gap: 20px 20px; 
        }
                                
    .footer-grid-item {
        text-align: center;
        }
                                
    .footer-grid-item.contact-me {
        padding-top: 10px;
        font-size: 35px;
        grid-row: 1 / span 3;
        text-align: right;
        padding-right: 10px;
        border-right: 2px solid var(--Sunset);
        }
                                
    .footer-grid-item.phone{
        grid-row: 2;
        }

    .footer-grid-item.email{
        grid-row: 2;
        }
                                
    .footer-grid-item.git-hub{
        grid-row: 2;
        }
    @media screen and (max-width: 980px) {
        form .form-group {
        flex: 1 100%;
        }
    }
    